@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

:root {
  font-size: 16px;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.jvm-zoom-btn {
  background-color: hsl(220, 88%, 57%) !important;
  padding: 4px !important;
}

.jvm-zoom-btn.jvm-zoomin {
  top: auto !important;
  bottom: 40px !important;
  height: 18px;
  width: 18px;
}

.jvm-zoom-btn.jvm-zoomout {
  top: auto !important;
  bottom: 20px !important;
  height: 18px;
  width: 18px;
}
